@model PISBusinessLogic.BindingModels.BookBindingModel
@{
    ViewData["Title"] = "Книги";
}

<div class="text-center text-info">
    <h1>Книги</h1>
</div>
<hr />
<form asp-controller="Librarian" asp-action="AddContractBooks" method="get">
    <div class="col-sm-8">
        Найти книги в наличии<br />
        По названию:
        @Html.TextBoxFor(x => x.Name)
        <br />
        По автору:
        @Html.TextBoxFor(x => x.Author)
        <br />
        По жанру:
        <select class="custom-select custom-select-sm" name="GenreId" id="GenreId">
            <option value="" selected disabled hidden>Выберите жанр</option>
            @foreach (PISBusinessLogic.ViewModels.GenreViewModel genre in ViewBag.Genres)
            {
                <option value="@genre.Id">@genre.Name</option>
            }
        </select>
        <br />
        <input type="hidden" value="@ViewBag.FIO" name="FIO" />
        <input type="submit" value="найти" class="btn btn-info btn-sm" />
    </div>
</form>
@Html.ActionLink("заключить", "AddContractBooks", new { FIO = ViewBag.FIO, id = ViewBag.Create })
<table class="table">
    <tr>
        <td>Название</td>
        <td>Автор</td>
        <td>Жанр</td>
        <td>Издательство</td>
        <td>Год издания</td>
        <td>Цена проката</td>
        <td>Статус</td>
        <td>Добавить в договор</td>
    </tr>
    @foreach (var genre in ViewBag.Genres)
    {
        @foreach (var book in ViewBag.Books)
        {
            @if (genre.Id == book.GenreId)
            {

                <tr>
                    <td>@book.Name</td>
                    <td>@book.Author</td>
                    <td>@genre.Name</td>
                    <td>@book.PublishingHouse</td>
                    <td>@book.Year</td>
                    <td>@genre.Price</td>
                    <td>@book.Status</td>
                    <td>  @Html.ActionLink("заключить", "AddContractBooks", new { FIO = ViewBag.FIO, id = @book.Id })</td>
                </tr>
            }
        }
    }
</table>
