@model PISCoursework.Models.RegistrationModel
@{
    ViewData["Title"] = "Регистрация";
}
<div class="text-left text-info">
    <h1>@ViewData["Title"]</h1>
</div>
@using (Html.BeginForm())
{
    <p>
        Email: <br>
        @Html.TextBoxFor(x => x.Email)<br>
        Пароль:<br>
        @Html.TextBoxFor(x => x.Password)<br>
        ФИО:<br>
        @Html.TextBoxFor(x => x.FIO)
    </p>
    <button class="btn btn-info btn-sm" type="submit">Зарегистрироваться</button>
    @Html.ValidationSummary(true, "", new { @style = "color: green" })
}

